<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
  <select id="selectUser" resultType="HashMap">
    select * from 사용자
  </select>
  <insert id="insertBoard" parameterType="hashmap">
  	insert into board (title, content, regUser) values (#{title}, #{content}, #{regUser}) 
  </insert>
  <select id  = "selectBoard" parameterType="hashmap" resultType="HashMap">
  	select * from test.board where regUser = #{regUser}
  </select>
  
  <select id  = "selectBoardOne" parameterType="hashmap" resultType="HashMap">
  	select * from test.board where regUser = #{regUser} and boardNo = #{boardNo}
  </select>
  
</mapper>